{% extends 'base.html.twig' %}

{% block title %}Mon Organisation
{% endblock %}

{% block body %}
	 
		
		<main>


			<section>
				<h2 class="">Taches en cours
				</h2>
			</section>
			<section>
				<h2>Taches en attente
				</h2>
			</section>
		</main>

	 

{% endblock %}
