{% extends 'base.html.twig' %}

{% block title %}Liste des catégories
{% endblock %}

{% block body %}
	<h2>Liste des catégories</h2>
	<table class="table" style="width: 50%">
		<tr>
			<th>Nom de la catégorie</th>
			<th>Actions</th>
		</tr>
		{% for categorie in  categories %}
			<tr class="categorieListe">
				<td class="{{ categorie.nom|lower }} ">
					<h3>{{ categorie.nom }}</h3>
				</td>
				<td><a href=" {{ path('app_edit_categorie' , {'id': categorie.id} ) }} " class="btn btn-dark" style="text-decoration: none;">Éditer</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
